<div class="row">
    <div class="col-md-6 mx-auto">
         <div class="card">
    <div class="card-body">
        <h1 class="card-title mx-auto main">Ingrese a su cuenta</h1>
        
        <div class="input">
            <label for="email">Email:</label>
            <input type="text" placeholder="Ingrese su email">
        </div>

        <div class="input">
            <label for="password">Password:</label>
            <input type="text" placeholder="Ingrese su password">
        </div>
        
    <p>Olvido su <a href="forgotpswd.html">password?</a></p>
    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </div>
</div>
    </div>
   
</div>

